@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    align-self: center;
    margin: 0 auto;
    max-width: 400px;
    height: 400px;
    background: #EC7874;
    border: thin solid #601700;
    padding: 15px;
}
.display {
    position: relative;
    top: 0px;
    height: 50px;
    background: #FAC05E;
    width: 100%;
    border: thin solid #601700;
    text-align: right;
    font-size: 45px;
}

.operator {
    background: #59CD90 !important;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 10px;
}

.buttons button {
    background: #00ACDF;
    border: thin solid #601700;
    padding: 15px;
    margin: 5px;
    font-size: larger;
}

.buttons button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.zero {
    grid-column: 1 / 3;
}